grafana:
  adminPassword: "123qwe"
  service:
    type: ClusterIP

prometheus:
  prometheusSpec:
    retention: 2d
    resources:
      requests:
        cpu: 200m
        memory: 600Mi
      limits:
        memory: 1200Mi

alertmanager:
  enabled: false
