version: "3.9"

services:
  profile-service:
    build:
      context: .
      dockerfile: docker/profile-service.Dockerfile
    image: profile-service:local
    ports:
      - "8081:8081"
    environment:
      PORT: "8081"

  frontend-bff:
    build:
      context: .
      dockerfile: docker/frontend-bff.Dockerfile
    image: frontend-bff:local
    ports:
      - "8080:8080"
    environment:
      PROFILE_BASEURL: http://profile-service:8081
    depends_on:
      - profile-service

  web:
    build:
      context: .
      dockerfile: web/Dockerfile
    image: web:local
    ports:
      - "80:80"
    depends_on:
      - frontend-bff
