apiVersion: apps/v1
kind: Deployment
metadata:
  name: profile-service
  namespace: noctem-portfolio
  labels:
    app: profile-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: profile-service
  template:
    metadata:
      labels:
        app: profile-service
    spec:
      containers:
        - name: profile-service
          image: ghcr.io/noctemlabs/profile-service:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8081
          env:
            - name: PORT
              value: "8081"
          livenessProbe:
            httpGet:
              path: /v1/status
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /v1/status
              port: http
            initialDelaySeconds: 3
            periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: profile-service
  namespace: noctem-portfolio
  labels:
    app: profile-service
spec:
  selector:
    app: profile-service
  ports:
    - name: http
      port: 8081
      targetPort: http
  type: ClusterIP
