server:
  port: 8080

profile:
  baseUrl: http://localhost:8081

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      probes:
        enabled: true
